<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

<div class="container">
	<h1>Register a Car</h1>

	<%= render 'form' %>

	<%= link_to 'Back', ad_holders_path %>
</div>


<%= javascript_include_tag "auto_complete" %>

